.footer {
    background: #202225;
    width: 100%;
    position: sticky;
}

.footer-items {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 20px 40px;
}

.footer-items .item {
    margin-left: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: ease-out 0.5s;
}

.footer-items .item a, i {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    margin-left: 5px;
}

.footer-items .item:hover {
    transform: scale(1.1);
}